	* {
    padding: 0px;
    margin: 0px;
	}
	a{
		text-decoration: none;
	}
	/*订单*/
	#wait_top{
		position: relative;
		width: 100%;
		height: 55px;
		margin-top: 5px;
		background-color: #F1F2F8;
		border-top: 1px solid #DBDDE5;
		border-bottom: 1px solid #DBDDE5;
	}
	#wait_top .top_left{
		position: absolute;
		top: 19px;
		left: 50px;
		font-size: 15px;
		letter-spacing: 1px;
	}
	#wait_top .top_left input{
		position: absolute;
		top:1.5px;
		width: 18px;
		height: 18px;
		-webkit-appearance:none;
		background-color: #B7B7BA;
	}
	#wait_top .top_left input:checked{-webkit-appearance:checkbox;background-color: #B7B7BA;}
	#wait_top .top_right .top_right_1{
		position: absolute;
		top: 9px;
		left: 135px;
		width: 88px;
		height: 38px;
		color: black;
		text-align: center;
		line-height: 40px;
		background-color: white;
		border: 1px solid #DBDDE5;
	}
	#wait_top .top_right .top_right_2{
		position: absolute;
		top: 9px;
		left: 250px;
		width: 88px;
		height: 38px;
		color: black;
		text-align: center;
		line-height: 40px;
		background-color: white;
		border: 1px solid #DBDDE5;
	}
	#wait_top .top_right .top_right_3{
		position: absolute;
		top: 9px;
		left: 365px;
		width: 88px;
		height: 38px;
		color: black;
		text-align: center;
		line-height: 40px;
		background-color: white;
		border: 1px solid #DBDDE5;
	}
	table,th,tr,td{
		border: none;
	}
	table{
		margin-top: 20px;
		margin-left: 18px;
	}
	.th_font{
		color: #D3D4D3;
		width: 220px;
	}
	.tr_input input{
		width: 18px;
		height: 18px;
		-webkit-appearance:none;
		background-color: #B7B7BA;
	}
	.tr_input input:checked{-webkit-appearance:checkbox;background-color: #B7B7BA;}
	/*.rigcon{
		/*position: absolute;		
		top: 32px;
		left: 35px;*/
		/*font-family: "微软雅黑	";*/
	/*}*/
