		* {
    padding: 0px;
    margin: 0px;
	}
	a{
		text-decoration: none;
	}
	.background{
		width: 100%;
		height: 30px;
		background-color: #F1F2F8;
	}
	#add_order_1{
		position: relative;
		width: 80%;
		height: 190px;
		/*background-color: red;*/
	}
	#add_order_2{
		position: relative;
		width: 80%;
		height: 100px;
		/*background-color: yellow;*/
	}
	#add_order_3{
		position: relative;
		width: 80%;
		height: 100px;
		/*background-color: green;*/
	}
	#add_order_4{
		position: relative;
		width: 80%;
		height: 100px;
		/*background-color: gray;*/
	}
	#add_order_5{
		position: relative;
		width: 80%;
		height: 100px;
		/*background-color: blue;*/
	}
	#add_order_6{
		position: relative;
		width: 80%;
		height: 240px;
		/*background-color: blue;*/
	}
	.brush_7{
		/*position: absolute;
		top: 42px;
		right: 25px;*/
		margin-left: 350px;
		margin-bottom: 50px;
		width: 470px;
		height: 60px;
		color: white;
		font-size: 15px;
		letter-spacing: 10px;
		background-color: #354053;
		border: 1px solid black;
	}
	.brush_7:hover{
		cursor: pointer;
	}
	.brush_7:active{
		background-color: black;
	}
	.add_left{
		position: absolute;
		left: 90px;
		width: 100px;
		height: 100%;
		font-family: "宋体";
		font-size: 19px;
		font-weight: 600;
		line-height: 100px;
		background-color: white;
	}
	.add_right{
		position: absolute;
		left: 210px;
		width: 400px;
		height: 100%;
		/*background-color: greenyellow;*/
	}
	.add_right .add_right_top{
		position: absolute;
		top: 40px;
		width: 100px;
		height: 100px;
		border: 1.2px solid #8A8B8A;
	}
	.add_right .add_right_top img{
		position: absolute;
		left: 14px;
		top: 14px;
	}
	.add_right .add_right_bottom{
		position: absolute;
		bottom: 0px;
		width: 380px;
		height: 60px;
		line-height: 60px;
	}
	.add_left_2{
		position: absolute;
		left: 90px;
		width: 100px;
		height: 100%;
		font-family: "宋体";
		font-size: 19px;
		font-weight: 600;
		line-height: 30px;
		background-color: white;
	}
	#add_order_2 .add_right input{
		position: absolute;
		top: 5px;
		width: 800px;
		height: 60px;
		font-size: 18px;
		border: 1.2px solid #8A8B8A;
	}
	.add_right select{
		position: absolute;
		top: 5px;
		width: 320px;
		height: 50px;
		color: gray;
		background-color: white;
		border: 1.2px solid #8A8B8A;
	}
	.add_right select option{
		color: black;
	}
	.add_con{
		position: absolute;
		top: 5px;
		width: 200px;
		height: 60px;
		font-size: 18px;
		border: 1.2px solid #8A8B8A;
	}
	.add_con_2{
		position: absolute;
		top: 5px;
		width: 800px;
		height: 200px;
		font-size: 18px;
		border: 1.2px solid #8A8B8A;
	}