body{
    		background-color: #E9E7EA;
    	}
    	/*input文本框*/
		.text{
			width:470px;
			height: 46px;
			float: left;
			background: none;
			background-color: white;
			color: black;
			font-size: 18px;
			border: 1px solid #DDDDDD;
		}
		
		/*点击后text文本边框变色*/
		.biaoqian{
			float: left;
			margin-left: 30px;
			border: 1px solid #DDDDDD;
		}
		.biaoqian select{
    		width: 130px;
    		height: 46px;
    		line-height: 46px;
    		border: 1px solid #DDDDDD;
    	}
		.text:focus{
			outline: none;
			border:2px solid black;
		}
		.input-group{
			margin-top: 50px;
			margin-left: 200px;
		}
    	.input-group-addon:last-child{
    		float: left;
    		width: 100px;
    		height: 46px;
    		background-color: #00BFFF;
    	}
    	.input-group-addon:last-child:hover{
    		border: 1px solid #DDDDDD;
    	}
    	
    	/*添加用户*/
    	.add-orders{
    		position: absolute;
    		width: 88px;
    		height: 46px;
    		top: 50px;
    		left: 800px;
    		font-size: 15px;
    		background-color: white;
    		border: 1px solid #ddd;
    	}
    	
    	/*表格数据*/
    	#eqData{
    		width: 1360px;
    		height: 650px;;
    		margin-top: 20px;
    		margin-left: 25px;
    		padding-top: 16px;
    		padding-bottom: 50px;
    		background-color: white;
    	}
    	#eqData table{
    		min-height: 130px;
    		margin-left: 16px;
    		margin-right: 16px;
    		margin-bottom: 16px;
    		border: 2px solid #54C2F1;
    	}
    	#eqData table tr th{
    		color: #54c2f1;
    		font-size: 18px;
    		padding-left: 12px;
    		text-align: center;
    		border: 1px solid #c9c9ca;
    	}
    	#eqData table tr{
    		height: 66px;
    		border: 1px solid #c9c9ca;
    	}
    	#eqData table tr td{
    		color: #888889;
    		font-size: 15px;
    		/*padding-left: 12px;*/
    		text-align: center;
    		border-right: 1px solid #c9c9ca;
    	}
    	a{
    		cursor:pointer;
    	}
    	table a{
    		color:red;
    	}
    	span{
    		cursor:pointer;
    	}
    	span:hover{
    		text-decoration:underline;
    	}