* {
    padding: 0px;
    margin: 0px;
}
body{
    min-width: 1100px;
    background-color: #F1F2F8;
}
.header {
    height: 56px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #585958;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 80px;
    float: left;
    position: relative;/*子元素absol*/
}
ul img{
    position: relative;
    top: 3px;
}
ul li {
    width: 120px;
    height: 56px;
    text-align: center;
    float: left;
}
ul li a {
    color: black;
    text-decoration: none;
    line-height: 56px;
}
.top_nav1,.top_nav2,.top_nav3,.top_nav4{
	width: 120px;
    height: 52px;
}
ul a:hover{
    color: #364154;
}

.out_order{
	position: absolute;
	top: 92px;
	right: 45px;
	width: 150px;
	height: 35px;
	color: white;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	background-color: #354053;
}
.shopping_title{
	position: absolute;
	top: 44px;
	right: 95px;
	width: 250px;
	height: 34px;
	letter-spacing: 1px;
	word-spacing: 2px;
	border: 1px solid #354053;
}
.brush_7{
		position: absolute;
		top: 44px;
		right: 25px;
		width: 70px;
		height: 36px;
		background-color: #354053;
		border: 1px solid black;
		background-image: url(../img/search2.png);
		background-size: 56px 28px;
		background-position-x: 5px;
		background-position-y: 4px;
	}
	.brush_7:hover{
		cursor: pointer;
	}
	.brush_7:active{
		background-color: black;
	}
	
	#title{
		position: absolute;
		top: 81px;
		left: 40px;
		width: 200px;
		font-size: 19px;
		letter-spacing: 1px;
	}
	

	a{
		text-decoration: none;
	}
	
	
	.background{
		width: 100%;
		height: 6px;
		background-color: white;
		border: none;
	}

	/*筛选框*/
	#brush{
		position: relative;
		width: 100%;
		height: 76px;
		background-color: #F1F2F8;
		border-bottom: 1px solid #DBDDE5;
	}
	.brush_5{
		position: absolute;
		top: 8px;
		left: 50px;
		width: 225px;
		height: 60px;
		line-height: 60px;
		/*background-color: red;*/
	}
	.brush_8{
		position: absolute;
		top: 8px;
		left: 725px;
		width: 225px;
		height: 60px;
		line-height: 60px;
		/*background-color: red;*/
	}
	.brush_9{
		position: absolute;
		top: 8px;
		left: 285px;
		width: 225px;
		height: 60px;
		line-height: 60px;
		/*background-color: red;*/
	}
	.brush_10{
		position: absolute;
		top: 8px;
		left: 510px;
		width: 225px;
		height: 60px;
		line-height: 60px;
		/*background-color: red;*/
	}
	.brush_5 input{
		width: 150px;
		height: 30px;
		margin-left: 10px;
		border: 1px solid gainsboro;
	}
	.brush_8 input{
		width: 150px;
		height: 30px;
		margin-left: 10px;
		border: 1px solid gainsboro;
	}
	.brush_9 input{
		width: 150px;
		height: 30px;
		margin-left: 10px;
		border: 1px solid gainsboro;
	}
	.brush_10 input{
		width: 150px;
		height: 30px;
		margin-left: 10px;
		border: 1px solid gainsboro;
	}
	.brush_6{
		position: absolute;
		top: 23px;
		left: 950px;
		width: 70px;
		height: 30px;
		background-color: white;
		border: 1px solid black;
		border-radius: 8px;
	}
	
	.brush_6 img{
		width: 55px;
		height: 25px;
		margin-top: 3px;
		margin-left: 9px;
	}