	* {
    padding: 0px;
    margin: 0px;
	}
	body{
		background-color: #F1F2F8;
	}
	#content{
		width: 1000px;
		height: 760px;
		margin-left: 230px;
		/*background-color: red;*/
	}
	.top{
		width: 100%;
		height: 200px;
		/*background-color: yellow;*/
	}
	.top .head_pic{
		position: relative;
		width: 150px;
		height: 160px;
		top: 18px;
		margin-left: 370px;
		background-color: #354053;;
		overflow: hidden;
	]}
	.top .head_pic img{
		position: absolute;
		top: 0px;
		left: -5px;
	}
	.bottom_1{
		width: 100%;
		height: 70px;
		background-color: #F8F8F8;
	}
	.bottom_2{
		width: 100%;
		height: 70px;
		background-color: white;
	}
	.bot_left{
		position: relative;
		width: 80px;
		height: 100%;
		float: left;
		/*background-color: yellow;*/
	}
	.bot_left img{
		position: absolute;
		top: 13px;
		right: 0px;
		
	}
	.bot_min{
		width: 150px;
		height: 100%;
		float: left;
		margin-left: 20px;
		line-height: 70px;
		letter-spacing: 1px;
		font-size: 18px;
		font-family: "宋体";
		color: #263238;
		/*background-color: white;*/
	}
	.bot_right{
		width: 300px;
		height: 100%;
		float: left;
		margin-left: 20px;
		line-height: 70px;
		letter-spacing: 1px;
		font-size: 18px;
		font-family: "宋体";
		color: #263238;
		/*background-color: white;*/
	}
	.bot_right_2{
		width: 100px;
		height: 100%;
		float: right;
		margin-right: 100px;
		line-height: 70px;
		letter-spacing: 1px;
		font-size: 18px;
		font-family: "宋体";
		color: #398DFE;
		/*background-color: white;*/
	}
	.bot_right_2 a{
		color: #398DFE;
	}
	.bot_right_2 a:hover{
		color: #263238;
	}
	.bot_right_2 a:active{
		color: #398DFE;
	}
